@model IEnumerable<PRIS.WEB.ViewModels.TestViewModels.AddTestViewModel>

@{
    ViewData["Title"] = "List";
    ViewData["ActivePage"] = PRIS.WEB.Views.Shared.ManageCollumnNavPages.List;
    Layout = "~/Views/Shared/_LayoutWithNavSectionForTestView.cshtml";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassYearStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassYearEnd)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassYearStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassYearEnd)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.TestId" class="btn btn-sm btn-outline-danger" role="button">Trinti</a>
            </td>
        </tr>
        }
    </tbody>
</table>
