@model IEnumerable<PRIS.WEB.ViewModels.TestViewModels.AddTestViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutWithNavSectionForTestView.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.TestId"  class="btn btn-sm btn-outline-danger" role="button">Trinti</a>
            </td>
        </tr>
}
    </tbody>
</table>
