@model PRIS.WEB.ViewModels.TestViewModels.AddTestViewModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutWithNavSectionForTestView.cshtml";
}

<p>
    <a asp-action="Test">Sukurti testą</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListOfTests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.TestId">Trinti</a>
            </td>
        </tr>
}
    </tbody>
</table>
