@model IEnumerable<PRIS.WEB.ViewModels.ResultLimitViewModel.TestResultLimitViewModel>

@{
    ViewData["Title"] = "ResultLimitsView";
    ViewData["ActivePage"] = PRIS.WEB.Views.Shared.ManageCollumnNavPages.ResultLimitsView;
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<h5>Čia galite redaguoti testo užduočių balų rėžius</h5>
<hr />
<br />

<p>
    <a asp-action="ResultLimitsCreate" class="btn btn-outline-dark" role="button">Pridėti balų rėžius</a>
</p>

<table class="table table-bordered table-responsive-lg">
    <thead>
        <tr>
            <th rowspan="1" colspan="10" class="text-center">Užduoties nr.</th>
            <th rowspan="2" colspan="1" class="text-center">Bendras testo balas</th>
            <th rowspan="2" colspan="1" class="text-center">Pridėjimo data</th>
        </tr>
        <tr>
            @for (int i = 1; i < 11; i++)
            {
                <th>
                    @(i)
                </th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                @for (int i = 0; i < 10; i++)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxValue[i])
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.LimitSumMax)
                </td>

                <td>
                    @item.Date.ToShortDateString()
                </td>
                @*<td>
                    <a asp-action="ResultLimitsDelete" asp-route-id="@item.TaskResultLimitId[0]" class="btn btn-sm btn-outline-danger" role="button">Trinti</a>
                </td>*@
            </tr>
        }


    </tbody>
</table>
