@model IEnumerable<PRIS.WEB.Models.ResultLimits>

@{
    ViewData["Title"] = "ResultLimits_View";
    ViewData["ActivePage"] = PRIS.WEB.Views.Shared.ManageCollumnNavPages.ResultLimits_View;
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<h5>Čia galite redaguoti testo užduočių balų rėžius</h5>
<hr />
<br />

<p>
    <a asp-action="ResultLimits_Create" class="btn btn-outline-dark" role="button">Pridėti balų rėžius</a>
</p>

<table class="table table-bordered table-responsive-lg">
    <thead>
        <tr>
            <th rowspan="1" colspan="1"></th>
            <th rowspan="1" colspan="3" class="text-center">Kompiuterinės sistemos</th>
            <th rowspan="1" colspan="3" class="text-center">Logikos pagrindai</th>
            <th rowspan="1" colspan="4" class="text-center">Programavimo pagrindai</th>
            <th rowspan="1" colspan="1"></th>
            <th rowspan="1" colspan="1"></th>
        </tr>
        <tr>
            <th class="text-center">
                Užduoties nr.
            </th>
            <th>
                1
            </th>
            <th>
                2
            </th>
            <th>
                3
            </th>
            <th>
                4
            </th>
            <th>
                5
            </th>
            <th>
                6
            </th>
            <th>
                7
            </th>
            <th>
                8
            </th>
            <th>
                9
            </th>
            <th>
                10
            </th>
            <th class="text-center">Bendras testo balas</th>
            <th class="text-center">Pridėjimo data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResultSumMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLimitSet)
                </td>
                @*<td>
                    <a asp-action="LimitsDelete" asp-route-id="@item.ResultLimitsId">Trinti</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
