@model PRIS.WEB.ViewModels.ResultLimitViewModel.TestResultLimitViewModel

@{
    ViewData["Title"] = "ResultLimits_Create";
    ViewData["ActivePage"] = PRIS.WEB.Views.Shared.ManageCollumnNavPages.ResultLimits_View;
    Layout = "~/Views/Shared/_LayoutNavSectionForSettings.cshtml";
}

<h5>Redaguoti testo užduočių maksimalių balų rėžius</h5>
<hr />
<br />
<div class="row">
    <div>
        <form class="form" asp-controller="Settings" asp-action="ResultLimits_Create">
            <div class="form-row mx-0">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Nustatykite užduoties balų rėžius įvesties langeliuose ties kiekvienos užduoties numeriu.</label>
                    <span class="text-danger"></span>
                </div>
                <div class="row">
                    @for (int i = 0; i < Model.Value.Count; i++)
                    {
                        <div class="form-group col-2">
                            <label asp-for="@Model.Value[i]" class="control-label">Nr. @Model.Position </label>
                            <input asp-for="@Model.Value[i]" class="form-control" type="number" />
                            <span asp-validation-for="@Model.Value[i]" class="text-danger"></span>
                        </div>
                    }
                    <div class="row">
                        <p asp-for="@Model.LimitSumMax" class="text-danger">Maksimalus balas už visas testo užduotis yra: @Model.LimitSumMax</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-outline-dark">Išsaugoti</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/validationlocalization.js"></script>
}

