
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h5>Čia galite modifikuoti priėmimo sistemos nustatymus</h5>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link @PRIS.WEB.Views.Shared.ManageCollumnNavPages.CityNavClass(ViewContext)" id="cities" href="/Settings/City">Miestai</a></li>
                <li class="nav-item"><a class="nav-link @PRIS.WEB.Views.Shared.ManageCollumnNavPages.ModuleNavClass(ViewContext)" id="modules" href="/Settings/Module">Mokymo programos</a></li>
                <li class="nav-item"><a class="nav-link @PRIS.WEB.Views.Shared.ManageCollumnNavPages.TaskGroupNavClass(ViewContext)" id="taskGroups" href="/Settings/TaskGroup">Užduočių grupės</a></li>
                <li class="nav-item"><a class="nav-link @PRIS.WEB.Views.Shared.ManageCollumnNavPages.ResultLimits_ViewNavClass(ViewContext)" id="resultLimits" href="/Settings/ResultLimitsView">Testo balų nustatymai</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}