@model IEnumerable<PRIS.WEB.ViewModels.CandidateViewModels.ListCandidateViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutWithNavSectionForCandidateView.cshtml";
}

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                Vardas Pavardė
            </th>
            <th>
                Programa (I-as pasirinkimas)
            </th>
            <th>
                Testo data, vieta
            </th>
            <th>
                Testo balas
            </th>
            <th>
                Surinktų balų % nuo maksimalaus
            </th>
            <th>
                Kvietimas į pokalbį
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname) @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstModule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestDate) @Html.DisplayFor(modelItem => item.TestCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestResult)
            </td>
            <td>
                @(item.TestResult/item.MaxResult*100) %
            </td>
            <td>
                @*<a>Kviesti</a>*@
            </td>
            <td>
                @*<a asp-action="View" asp-route-id="@item.CandidateID">Peržiūrėti</a>*@
                <a asp-action="EditCandidate" asp-route-id="@item.CandidateID">Redaguoti</a>
                <a asp-action="Delete" asp-route-id="@item.CandidateID">Trinti</a>
            </td>
        </tr>
        }
    </tbody>
</table>
