@model IList<PRIS.WEB.ViewModels.CandidateViewModels.ListCandidateViewModel>

@{
    ViewData["Title"] = "Interviews";
    Layout = "~/Views/Shared/_LayoutNavSectionForInterview.cshtml";
}

<div class="row">
    <div class="col-4">
        @if (TempData["CandidateInvitedToStudyUpdated"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["CandidateInvitedToStudyUpdated"].ToString()
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-4">
        <form asp-action="Interviews" method="get">
            <div class="form-actions no-color">
                Miesto filtras:
                <fieldset class="form-group">
                    <select name="City" id="City" asp-items=ViewBag.Cities class="form-control"><option value=null>Visi</option></select>
                </fieldset>
                <input type="submit" value="Ieškoti" class="btn btn-outline-dark mb-2" />
            </div>
        </form>
    </div>
    <div class="col-4">
        <div class="form-actions no-color">
            <p>
                Kandidatų imties sutartims skaičius:

                <select id="ddl" name="ddl" onmousedown="this.value='';" onchange="name2(this.value);" class="form-control mb-2">

                    @for (int i = 1; i <= Model.Count; i++)
                    {
                        <option value=@i>@i</option>
                    }

                </select>
            </p>
        </div>
    </div>
</div>


<form method="post" class="form-horizontal" role="form">
    <p><input type="submit" value="Patvirtinti kandidatus sutartims" class="btn btn-outline-dark" /></p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Vardas Pavardė
                </th>
                <th>
                    Testo data, vieta
                </th>
                <th>
                    Testo balas
                </th>
                <th>
                    Pokalbio balas
                </th>
                <th>
                    Bendras balas
                </th>
                <th>
                    Komentaras
                </th>
                <th>
                    Kviečiami studijuoti
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].Firstname) @Html.DisplayFor(modelItem => modelItem[i].Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].TestDate) @Html.DisplayFor(modelItem => modelItem[i].TestCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].TestResult)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].InterviewResult)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].GeneralResult)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].GeneralInterviewComment)
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => modelItem[i].CandidateID)
                        @Html.CheckBoxFor(modelItem => modelItem[i].InvitedToStudy, new { id = i })
                    </td>
                    <td>
                        @if (Model[i].InvitedToStudy == true)
                        {
                            <text>Kandidatas patvirtintas</text>
                        }
                        else
                        {
                            <a asp-action="AddInterviewResult" asp-route-id="@Model[i].CandidateID">Pokalbio duomenys</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<script>
    function name2(last) {
        var i;
        for (i = 0; i < last; i++) {
            document.getElementById(i).checked = true;
        }
    }
</script>

